[submodule "osm-mapnik"]
	path = osm-mapnik
	url = git@github.com:geopicardie/docker-geopic-mapnik.git
[submodule "osm-mapproxy"]
	path = osm-mapproxy
	url = git@github.com:geopicardie/docker-mapproxy-cache.git
